#p1 {
    text-align: right;
    font-style: italic;
    color: blue;
    font-size: 160%;
    text-decoration: underline;
}
#p2 {
   text-transform: uppercase; 
   text-decoration: line-through;
   color: indigo;
    font-size: 140%;
}
#p3 {
    font-family:'Times New Roman';
    color: brown;
    font-size: 120%;
}
#p4 {
    color: gold;
    font-weight: bold;
    text-shadow: 0px 3px 2px green;
}
.bloque {
    height: 200px;
    width: 400px; 
    display: inline-block;
    margin: 10px;
    border: 2px solid black;
    border-radius: 10%;
}
#div1, #div2, a {
    height: 50px;
    width: 100px; 
}
#div0 {
    display: flex;
}